@import "src/theme/styles/_variables";

.admin {
    &__navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 10%;
        &-menu {
            color: $Rectangle48;
        }
        &-field {
            max-width: 504px;
            padding: 7px;
            font-size: 18px;
            border: 0px solid;
            border-radius: 5px;
        }
        &-label span {
            display: block;
            padding-bottom: 1px;
            color: $Rectangle69;
        }
        &-label input {
            margin-bottom: 4px;
        }
        &-select {
            padding: 4px 0;
            color: $Rectangle67;
        }
        &-item {
            max-width: 520px;
            margin: 10px;
            padding: 10px;
            border: 2px solid $Rectangle69;
            border-radius: 10px;
        }
        &-buttons {
            max-width: 500px;
            padding-top: 10px;
        }
        &-contacts, &-number {
            padding: 1px;
            color: $Rectangle67;
            text-align: center;
            background-color: rgb(255, 193, 193);
            border-radius: 5px;
        }
        &-label input:active &-contacts {
            display: block;
        }

    }
}