@import "src/theme/styles/_variables";
@import "src/theme/styles/mixins";



.navbar, .footer {
    &--item:hover &--link {
        opacity: 0.5;
    }
    &--link {
        color: $Rectangle48;
        text-decoration: none;
    }
}

.navbar {
    &--item {
        margin: 0 auto;
        padding: 15px;
    }
}

@media screen and (max-width: 640px){ 
    .navbar {
        &--item {
            margin: 0;
        }
    }
    
}
