@import "src/theme/styles/_mixins";
@import "src/theme/styles/_variables";

.footer {

    &__bg {
        padding-top: 30px;
        background-color: $Rectangle66;
        @media screen and (max-width: $xs-size) {
            display: none;
        }
    }
    &__container {
        @include content-block();
    }
    &__block {
        display: grid;
        grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
    }
    &__line {
        width: 290px;
        height: 1px;
        margin-top: 20px;
        margin-bottom: 20px;
        background: $Rectangle45;
        @media screen and (max-width: $md-size) {
            width: 190px;
        }

    }
    &__info-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}