.pagination-dots {
  position: fixed;
  //top: calc((100vh - 205px) / 2);
  top: 250px;
  left: 5px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  height: 25vh;
}