@import "src/theme/styles/_variables";

.navbar, .footer {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.navbar {
    align-items: center;
    @media screen and (max-width: $md-size) {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    &--left-side {
        align-items: flex-start;
    }
    &--right-side {
        align-items: flex-end;
        text-align: right;
    }

}

